<h3> Log in </h3>
<%= form_for :session, url: login_path do |f| %>
  <%= f.label :email, class: "text-center" %></br>
  <%= f.text_field :email, placeholder: "Enter Email" %></br>
  <%= f.label :password, "Password", class: "text-center" %></br>
  <%= f.password_field :password, placeholder: "Enter Password" %>
  <%= f.submit 'Log in' %>
  <% end %>
Not Registered?
<strong><%= link_to("Create an Account", new_user_path) %></strong>
