<h1>Create Link</h1>

<%= form_for :link, url: '/links' do |f| %>
  <%= f.label :title, class: "text-center" %></br>
  <%= f.text_field :title, placeholder: "Enter Title" %></br>
  <%= f.label :url, "url", class: "text-center" %></br>
  <%= f.text_field :url, placeholder: "Enter Url" %></br>
  <%= f.submit "Create Link" %>
<% end %>

<% current_user.links.each do |link| %>
<div id="link" data-id=<%= link.id %>>
___________________<br><br>
  <% if link.read %> <strike>
    <strong> Title: </strong><p class='linkEdit title' contenteditable="true"> <%= link.title %><br></p>
    <strong> Url: </strong> <p class='linkEdit url' contenteditable="true"><%= link.url %></p>
    <strong> Read: </strong> True
    </br>
    </strike>
    <%= link_to "Mark as Unread", unread_path(link_id: link.id) %>
  <% else %>
    <strong> Title: </strong> <p class='linkEdit title' contenteditable="true"><%= link.title %></p>
    <strong> Url: </strong> <p class='linkEdit url' contenteditable="true"><%= link.url %></p>
    <strong> Read: </strong> False </br>
    <%= link_to "Mark as Read", read_path(link_id: link.id) %>
    </br>
  <% end %>
</div>
<% end %>
