<h1 class='text-center'>Create Link</h1><br><br>



</br>
<div class='jumbotron text-center'>
<%= form_for :link, url: '/links' do |f| %>
  <%= f.label :title, class: "text-center" %></br>
  <%= f.text_field :title, placeholder: "Enter Title" %></br>
  <%= f.label :url, "url", class: "text-center" %></br> Links must begin with http:// or https://</br>
  <%= f.text_field :url, placeholder: "Enter Url" %></br></br>
  <%= f.submit "Create Link" %>
<% end %>

</div>

<div class='jumbotron'>
<form id="filter-form" class='text-center well'>
  Search: <input type="text" id="link-search">
</form>
<div class='text-center' id="link">
</div>
</div>
